<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./base.css">
<title>emergency</title>
</head>
<body>
<div class="wrapper clearfix">
<div class="bunkatsu6"><img alt="" src="gaibu01.jpg"></div>
<div class="bunkatsu6"><img alt="" src="uryou01.jpg"></div>
<div class="bunkatsu6"><img alt="" src="uryou01.jpg"></div>
</div>
<div class="wrapper clearfix">
<div class="bunkatsu6"><img alt="" src="kiatsu01.jpg"></div>
<div class="bunkatsu6"><img alt="" src="uryou02.jpg"></div>
<div class="bunkatsu6"><img alt="" src="suii01.jpg"></div>
</div>
<div id="footer_box"><h2 class="moji">こんにちわ</h2></div>
</body>
</html>